<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ybg.rp.assistant"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission-sdk-23 android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission-sdk-23 android:name="android.hardware.camera"/>

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission-sdk-23 android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.YApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".scan.ScanQRActivity" />
        <activity android:name=".activity.VMLoginActivity" />
        <activity android:name=".activity.GoodsManagerActivity" />
        <activity android:name=".activity.SaleDetailActivity" />
        <activity android:name=".activity.QueHuoActivity" />
        <activity android:name=".activity.DataCenterActivity" />
        <activity android:name=".activity.TodayDataActivity" />
        <activity android:name=".activity.GoodsDataActivity" />
    </application>

</manifest>